@use '../../styles/variables.scss';

.backgroundAlternate {
  background-color: var(--color-background-alternate);
}
.backgroundDark {
  background-color: variables.$dark;
}
.backgroundPrimary {
  background-color: var(--color-primary);
}
.backgroundStandard {
  background-color: var(--color-background-standard);
}

.foregroundAlternate {
  fill: var(--color-background-alternate);
  stroke: var(--color-background-alternate);
}
.foregroundDark {
  fill: variables.$dark;
  stroke: variables.$dark;
}
.foregroundPrimary {
  fill: var(--color-primary);
  stroke: var(--color-primary);
}
.foregroundStandard {
  fill: var(--color-background-standard);
  stroke: var(--color-background-standard);
}