@font-face {
  font-display: swap;
	font-family: 'Inter';
	font-weight: 100 900;
	src: url('/fonts/Inter-roman-var.woff2') format('woff2');
}

html, body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $spacer-xxxs;
  font-weight: 700;
}

p {
  margin-bottom: $spacer-xxs;
}
section {
  a {
    color: $primary-medium;
  }
  p:last-child {
    margin-bottom: 0;
  }
}