@font-face {
  font-display: swap;
	font-family: 'Inter';
	font-weight: 100 900;
	src: url('/fonts/Inter-roman-var.woff2') format('woff2');
}

html, body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $spacer-xxxs;
  font-weight: 700;
}

.btn {
  transition: none;
}

.custom-link {
  border-bottom: 2px solid $primary;
  color: inherit;
  font-variation-settings: 'wght' 700;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

p {
  margin-bottom: $spacer-xxs;
  a {
    @extend .custom-link;
  }
}
section {
  p:last-child {
    margin-bottom: 0;
  }
}
.card-link {
  @extend .custom-link;
}